.regContainerMain{
    width: 25%;
    box-shadow: 10px 10px 10px 2px black;
    background: white;
    margin: auto;
    margin-top: 10%;
    height: 450px;
    position: relative;
    font-size: large;
    border: solid 3px black;
  }
  body 
  {
    background-color: white;
    font-family: sans-serif;
  }
  .Title
  {
    background-color: #25238e;
    color: white;
    height: 25px;
    padding:10px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
 .registrationForm
 {
    /* width: max-content;
    margin: 0 auto;
    padding: 30px 0 30px 10px;
    align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 #loginForm
 {
   display: none;
 }

 #Start
 {
   display: none;
   margin: 40px 0;
   color: white;
   background-color: #25238e;
   padding: 5px 20px;
 }

 .login-center
 {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .start-center
 {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .radioForm-content
 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
 }

 #submit
 {
    margin: 0 auto;
    color: white;
    background-color: #25238e;
    padding: 5px 20px;

 }
 form :focus
 {
    outline: none !important;
    border: solid 2.5px #25238e;  
    padding: 5px;
 }

 input
 {
    font-size:large;
 }

 #radioForm
 {
   /* text-align: center;
   margin-bottom: 0;
   padding: 0; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }